.portfolio-section {
  padding: 0 0 0 0;
}

.port-item {
  background-color: #0b3c5d;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  height: 1000px;
  overflow: hidden;
  max-height: 400px;
}

.port-info img {
  border-radius: 10px;
  height: 200px;
  background-color: #0b3c5d;
}

.port-comment {
  background-color: #0b3c5d;
}

.port-title {
  background-color: #0b3c5d;
  font-family: "merienda";
  color: #d98310;
  margin-top: 5px;
}

.port-subtitle {
  background-color: #0b3c5d;
  font-family: "merienda";
  color: #328cc1;
}

.port-desc {
  background-color: #0b3c5d;
  color: white;
}

.port-links {
  background-color: #0b3c5d;
  margin: 0 30px 0 35px;
  text-decoration: none;
  color: #d98310;
}
