.container {
  color: white;
  align-items: center;
  text-align: center;
}

.contact-title {
  font-size: 75px;
  color: #328cc1;
  font-family: "merienda";
  border-bottom: 3px solid white;
  margin-bottom: 15px;
}

.contact-address {
  color: #d98310;
  font-size: 24px;
  font-family: "Share Tech Mono";
  border-bottom: 3px solid white;
  margin-bottom: 15px;
  padding: 10px;
}

.icon {
  color: #328cc1;
}
