/* ABOUT ME */

.about-me {
  color: #328cc1;
  padding-bottom: 2em;
}

.profile-picture-background {
  display: flex;
  height: 380px;
  width: 99%;
  margin-top: 30px;
  background-image: url("../../../public/images/ProfilePicHeader.jpg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.about-text {
  padding-top: 35px;
  padding-right: 35px;
  font-size: 20px;
}

.about-me-buttons {
  padding: 10px;
}

.btn {
  margin: 0 0 0 30px;
}

@media only screen and (max-width: 898px) {
  .about-me {
    width: 100%;
  }
  .profile-picture-background {
    display: none;
  }
}
