.contact-page {
  color: #328cc1;
  font-family: "merienda";
}

label {
  color: #d98310;
  font-family: "Share Tech Mono";
}

.contact-title {
  margin-top: 25px;
}

.contact-form {
  margin: 25px 85px 75px 100px;
  max-height: 350px;
}

.form-control {
  margin: 10px 0px;
}

.contact-submit {
  margin-top: 30px;
  margin-left: 0px;
  font-family: "Share Tech Mono";
}

form p {
  text-align: center;
  font-family: "Share Tech Mono";
}
